include games__item

article.games
    .container 
        +MxGamesItem("RAID: Shadow Legends", "files/videos/Raid.mp4", "4.5",  "50M+")
        +MxGamesItem("Callisto", "files/videos/Callisto.mp4", "4.1",  "5M+")
        +MxGamesItem("League of Legends", "files/videos/LoL.mp4", "4.7",  "60M+")
        +MxGamesItem("Need For Speed", "files/videos/NFS.mp4", "3.9",  "10M+")
        +MxGamesItem("Spider Man", "files/videos/SM.mp4", "4.5",  "100k+")
