mixin MxGamesItem(title, trailer, stars, downloads)
    article.games__item
        .games__trailer_box
            video(src=trailer autoplay muted loop).games__trailer
            .games__plug
        .games__interface
            article.games__info
                h2.games__title=title
                .games__stats
                    .games__stars=stars
                        p stars
                    .games__downloads=downloads
                        p downloads
            button.games__btn.btn trailer