.container{
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1250px;
    background: url("../img/Background.png") repeat-y;
}

.upper{
    width: 75px;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 100000;
}