.main{
    display: flex;
    margin-top: 100px;
}

.main__info{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.main__greeting{
    width: 550px;

    font-size: 1.4rem;
    line-height: 1.5;
    color: $font__greet;

    h1{
        font-weight: 600;
        font-size: 2rem;
    }
}

.main__about-me{
    margin: 50px 0;
    font-size: 0.95rem;
    color: $font__about-me;
    line-height: 1.2;
}

.main__contacts{
    font-size: 1.4rem;
    color: $font__contact-1;

    b{
        font-weight: 600;
        color: $font__contact-2;
    }

    div{
        margin-top: 20px;
    }
}

.main__icons{
    width: 70px;
    margin-right: 40px;
}

.main__img{
    margin-left: auto;
    width: 500px;
}