include ../game-project/game-project

section.projects 
    .projects__title My portfolio
    .projects__subtitle Recent Works
    +MxGameProject("img/games-icons/raid.webp", "RAID: Shadow Legends", "https://apps.apple.com/us/app/raid-shadow-legends/id1371565796", "https://play.google.com/store/apps/details?id=com.plarium.raidlegends&gl=US", "files/videos/Raid.mp4", "4,5", "5m+")
    +MxGameProject("img/games-icons/nfs.webp", "Need For Speed", "https://play.google.com/store/apps/details?id=com.ea.games.nfs13_row&hl=en&gl=US", "https://apps.apple.com/ru/app/need-for-speed-most-wanted/id540925500", "files/videos/NFS.mp4", "3.9", "1m+")
