main.main#main
    section.main__info 
        section.main__greeting Hi ! 
            h1 I’m Vladimir Kashirin, a Unity Developer
        section.main__about-me I am a Unity C# Programmer. Proficient in a range of technologies including C#, Java.
        section.main__contacts Contact 
            b Me
            div
                a(href="https://www.instagram.com/")
                    img.main__icons(src="img/icons/icons.svg#Instagram", alt="insta__icon")
                a(href="https://www.github.com/")
                    img.main__icons(src="img/icons/icons.svg#Git", alt="git__icon")
                a(href="https://www.upwork.com/")
                    img.main__icons(src="img/icons/icons.svg#UpWork", alt="upwork__icon")
                a(href="#")
                    img.main__icons(src="img/icons/icons.svg#Email", alt="mail__icon")
    img.main__img(src="img/icons/icons.svg#main_svg", alt="Vladimir is programming")