main.main
    article.main__info
        .main__greeting My name is 
            h1 Vladimir Kashirin.
        .main__about-me I am a Unity C# Programmer. Proficient in a range of technologies including C#, Java.