doctype html
html(lang="en")
    include html/head
    body
        include html/header
        main.page
            .container 
                include html/games/game
        include html/footer
        script(src="js/app.min.js") 