doctype html
html(lang="en")
    include html/head
    body
        .container
            include html/main/main
            include html/projects/projects
        include html/footer
        script(src="js/app.min.js") 