doctype html
html(lang="en")
    include html/head
    body
        .container
            include html/header
        .container
            include html/main/main
        include html/games/games
        include html/footer
        script(src="js/app.min.js") 